<template>
  <div>
    <div class="row">
      <div class="col">
        <img class="img float-left mr-3" v-bind:src="book.image">
         <h3 class="w-75 mb-3">{{book.title}}</h3>
         <b>Pages:</b> {{book.pages}} <br />
         <b>Like:</b> {{book.like}} <br />
         <b>Dislike:</b> {{book.dislike}} <br />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <b>Description:</b> {{book.description}} <br />
      </div>
    </div>
  </div>
</template>


<script>
  import axios from 'axios'
  export default {
    name: 'Book',

    data() {
      return {
        book: {}
      }
    },

    created() {
      this.fetchData()
    },

    watch: {
      '$route': 'fetchData'
    },

    methods: {
      fetchData() {
        axios.get('http://127.0.0.1:8000/api/books/' + this.$route.params.id + '/')
          .then((response) => {
            this.book = response.data;
          })
          .catch((error) => {
            console.log(error)
          })
      }
    }

  }
</script>


<style scoped>
.img {
  width: 300px;
}
</style>
