<template>
  <div class="row">
    <div class="col-3" v-for="book in books">
      <div class="text-center">
        <router-link :to="book.id.toString()"> <img class="rounded float-left img" v-bind:src="book.image"> </router-link>
        <span class="text-center img">{{book.title}}</span>
      </div>
    </div>
  </div>
</template>


<script>
  import axios from 'axios'
  export default {
    name: 'Books',

    data() {
      return {
        books: {}
      }
    },

    created() {
      this.fetchData()
    },

    methods: {
      fetchData() {
        axios.get('http://127.0.0.1:8000/api/books/')
          .then((response) => {
            this.books = response.data
          })
          .catch((error) => {
            console.log(error)
          })
      }
    }

  }
</script>


<style scoped>
.img {
  width: 248px;
}
</style>
