<template>
  <div id="app" class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'Books' }">Home</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/about">About</router-link>
          </li>
        </ul>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </nav>
    <transition name="fade" mode="out-in">
      <router-view class="view" />
    </transition>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  /*app styles*/
}

.fade-enter-active, .fade-leave-active {
  transition: all .2s ease
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
</style>
